<h1>All Coupons</h1>

<% @coupons.each do |coupon| %>
    <label>Coupon Code</label><br>
    <%= link_to coupon.coupon_code, coupon_path(coupon) %>
    <label>Store</label><br>
    <%= coupon.store %>
<% end %>